<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.jibsin_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".JibsinApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:roundIcon="@drawable/ic_logo"
        android:label="집신"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jibsin_project"
        android:usesCleartextTraffic="true"
        >

        <!-- 앱 시작 시 열리는 화면 -->
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />

        <!-- 회원가입 화면 -->
        <activity
            android:name=".login.SignUpActivity"
            android:exported="true" />

        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".scan.BuildingRegistryScanActivity" />
        <activity android:name=".scan.RegistryDocumentScanActivity" />
        <activity android:name=".scan.ContractScanActivity" />
        <activity android:name=".scan.OnboardingScanActivity" />
        <activity android:name=".chatbot.ChatBotActivity" />
        <activity android:name=".scan.AIAnalysisResultActivity" />
        <activity android:name=".scan.components.DocumentReviewActivity" />

    </application>

</manifest>
