<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.jibsin_project">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:roundIcon="@drawable/ic_logo"
        android:label="집신"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jibsin_project"
        >

        <!-- 앱 시작 시 열리는 로그인 화면 -->
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"> <!-- android:exported 추가 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 회원가입 화면 -->
        <activity
            android:name=".login.SignUpActivity"
            android:exported="false" /> <!-- 회원가입 화면은 외부에서 시작되지 않으므로 false -->

        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".scan.BuildingRegistryScanActivity" />
        <activity android:name=".scan.RegistryDocumentScanActivity" />
        <activity android:name=".scan.ContractScanActivity" />

    </application>

</manifest>
